html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

// Nested Styling
.image-container {
  width: 100%;
  height: 30vh;
  position: relative;

  .image {
      width: 100%;
      height: 100%;
      position: relative !important;
      object-fit: cover; // Optional
  }
}
.single_image_wrapper{
  .image-container {
    height: 50vh;
  }
}

// img{
//   width: 100%;
//   height: auto;
// }


.all_blogs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
  gap: 1rem;
}

div.single_blog {
  background-color: #fff;
  border: 1px solid #eee;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  & > div {
    font-size: 0.85rem;
  }
  

  h4{
    font-size: 1rem;
  }

  &:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
